html {
    scroll-behavior: smooth; 
  }
  
  body {
    background-color: #f8f8f8;
    }

  html, body {
    max-width: 100%;
    overflow-x: hidden;
}

  .header {
    width: 100%;
    color: #00B893;
    top:0;
    font-family: "Jacquarda Bastarda 9", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    position: fixed;
    height: 100vh; 
    line-height: 1;
    
  }

  #colourChange {
    transition: color 0.3s ease-out;
    font-size: 24px;
}

  .header-wrapper {
    
    text-align:center;
    align-items: center;
    position: relative;
  }

  .underlay {
    z-index: 1;
    left: 50%; /* Center it horizontally */
    top: 50%; /* Center it vertically */
    transform: translate(-50%, -50%);
    text-align: center;
    color: #003D30;
    font-family:  "Shadows Into Light Two", cursive;
    font-size: 100px;
    display: absolute;
    }

  .Year-wrapper {
    width: 100%;
    margin-top: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  
  .card-collection {
    z-index: 2;
    width: 100%;
    overflow: hidden;
    gap: 30px;
    align-items: center;
    width: 97vw;
    display: flex;  
    flex-wrap: wrap;
    flex-direction: column;
   }

  .img-wrapper {
    display: flex;
    opacity: 1;
    width: 400px;
    position: relative;
    cursor: pointer; 
    transition: flex-basis 0.7s cubic-bezier(0.8, 0.0, 0.2, 1);
  }

  .img-wrapper:nth-child(odd) {
    align-self: flex-start;
    flex-direction: row;
  }

  .img-wrapper:nth-child(even) {
    align-self: flex-end;
    flex-direction: row-reverse;
  }

.month-wrapper {
    width: 100%;
  }


  .img-wrapper img {
   
    object-fit: cover;
    width: 100%;
    height: 400px;
  }

  .inView {
    opacity: 1;
}
  
  .date {
    display: hidden;
  z-index: 10;
    transition: max-height 0.6s cubic-bezier(0.8, 0.0, 0.2, 1), opacity 0.3s cubic-bezier(0.8, 0.0, 0.2, 1);
    right: 10px;
    top: 0;
    position: absolute;
    max-height: 0;
    opacity:0;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    color: #660900;
    background-color: #FFD8CC;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .label {
    text-align: center;
    text-overflow: wrap;
    z-index: 50;
    position: relative;
    width: 300px;
    bottom: -15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #660900;
  }


  
  h1 {
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
    color: #EE4712;
  }
  
  .H2 {
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: 200px;
    padding: 10px;
  }
  
  .img-wrapper:hover .label {
    max-height: 500px;
    opacity: 1;
  }
  
  .img-wrapper:hover .date {
    max-height: 500px;
    opacity: 1;
  }
  
  .img-wrapper:hover {
    z-index: 100;
  }
  

  .material-symbols-outlined:hover {
    color: #00B893;
  }
  
  .material-symbols-outlined {
    display: hidden;
    scale: 200%;
    color: #00B893;
    transition: color 0.2s ease, opacity 0.2s cubic-bezier(0.8, 0.0, 0.2, 1); 
  }
  
  .icon-scroll .material-symbols-outlined {
    display: hidden;
    opacity: 0.15;
    color: #003D30;
  }
  
  .icon-scroll {
    z-index: 99;
    display: hidden;  
    align-items: center;
    flex-direction: column;
    position: fixed;
    gap: 20px;
    right: 20px;
    top: 50%;
  }
  
  .material-symbols-outlined.active {
    opacity: 1; 
  }
  
  @media (max-width: 650px) {

 

    .header {
     width: 100%;
      overflow: hidden;
    }
    

.card-collection {
  width: 100%;
  gap: 100px;
  }

  .pompom img {
    scale: 1;
  }
    .img-wrapper {
     width: 300px;
    }
    
    
    .label {
     width:calc(100% - 20px);
     font-size:20px;
    }

    .img-wrapper:nth-child(odd) {
      align-self: center;
      flex-direction: column;
    }
  
    .img-wrapper:nth-child(even) {
      align-self: center;
      flex-direction: column;
    }
    
  }
  
  